<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Notiify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Notiify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <userSettings>
    <Notiify.Properties.Settings>
      <setting name="NotificationDuration" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="DockPosition" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="DirectoryWatcherResetInterval" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="OptionsWidth" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="OptionsHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PropertyGridIsCategorized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PropertyGridNameColumnWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="OptionsFilter" serializeAs="String">
        <value/>
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourceData" serializeAs="String">
        <value/>
      </setting>
      <setting name="ManageSourcesWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ManageSourcesHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ManageSourcesSelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NotificationsData" serializeAs="String">
        <value/>
      </setting>
      <setting name="MaxNotifications" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>300</value>
      </setting>
    </Notiify.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Notiify.Properties.Settings>
      <setting name="DuplicateFileChangeTimeout" serializeAs="String">
        <value>00:00:00.0500000</value>
      </setting>
      <setting name="MaxFileContentSize" serializeAs="String">
        <value>2097152</value>
      </setting>
      <setting name="MaxFileContentLines" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FileContentExtensions" serializeAs="String">
        <value>.txt|.text|.log|.cfg|.json|.xml|.ini|.inf|.properties</value>
      </setting>
    </Notiify.Properties.Settings>
  </applicationSettings>
</configuration>
