<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Notiify.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <Notiify.Properties.Settings>
      <setting name="NotificationDuration" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="DockPosition" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="DirectoryWatcherResetInterval" serializeAs="String">
        <value>15000</value>
      </setting>
    </Notiify.Properties.Settings>
  </userSettings>
</configuration>